<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div id="vue-conditionals">
        <h1>{{ topicFunc() }}</h1>
        <ul>
            <li v-for="founder in founders">
                {{founder.company}} - {{founder.name}}
            </li>
        </ul>

        <ul>
            <!-- Always the element should be the first argument -->
            <li v-for="(founder, index) in founders">
                {{index +1 }}. {{founder.name}} founded {{founder.company}}
            </li>
        </ul>

    </div>
    <script>
        new Vue({
            el: "#vue-conditionals",
            data: {
                topics: ["Vue For"],
                founders: [ 
                    {name: "Mark Zuckerberg", company: "Facebook"},
                    {name: "Bill Gates", company: "Microsoft"},
                    {name: "Jackma", company: "Alibaba"},
                    {name: "Jeff Bezos", company: "Amazon"}
                ]
            },
            methods: {
                topicFunc: function() {
                    return this.topics.toString()
                }
            },
            computed: {

            }
        })
    </script>
</body>
</html>